<!DOCTYPE html>
<html>

<head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <h2><a href="/form"> click here for Mad libs!</a>
        <h2>
            <h2><a href="/dinoform"> click here for Dino Mad libs!</a>
                <h2>
</body>

</html>